<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Expert Financial Consultation with Nowofloan™ Quick Registration and Process. Apply Now at Nowofloan.com & Get Best Financial Consultation" />
    <meta name="keywords" content="Apply for Personal loan, Personal loan online, personal loan approval" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://nowofloan.com/assets/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://nowofloan.com/assets/images/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="https://nowofloan.com/assets/images/favicon.ico">
    <link rel="stylesheet" href="./assets/css/plugins.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Apply for Expert Financial Consultation | Nowofloan</title>
</head>

<body>
    <div class="body-inner">
        <div id="topbar" class="d-none d-xl-block d-lg-block topbar-transparent topbar-fullwidth dark">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <ul class="top-menu">
                    <li><a href="#"><i class="fa fa-phone m-r-5"></i> +91-90815-45972</a></li>
                    <li><a href="#"><i class="fa fa-envelope m-r-5"></i> info@nowofloan.com</a></li>
                  </ul>
                </div>
      
                <div class="col-md-6 d-none d-sm-block">
                  <ul class="top-menu right">
                    <li><a href="#">Raise a Request</a></li>
                    <li><a href="#">Important Update</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      
          <header id="header" data-transparent="true" data-fullwidth="true" class="light submenu-light">
            <div class="header-inner">
              <div class="container">
      
                <div id="logo"> 
                  <a href="#/">
                    <span class="logo-default"><img src="./assets/images/logo.png" alt="Nowof Loan" width="220"></span>
                    <span class="logo-dark"><img src="./assets/images/logo.png" alt="Nowof Loan" width="220"></span>
                  </a> 
                </div>
      
                <div id="mainMenu-trigger">
                  <a class="lines-button x"><span class="lines"></span></a>
                </div>
      
                <div id="mainMenu">
                  <div class="container">
                    <nav>
                      <ul>
                        <li id="102" class="dropdown"><a href="#">Company</a>
                          <ul class="dropdown-menu" style="">
                            <li id="1021" class=""><a href="#"><i class="fa fa-info-circle"></i> Profile</a></li>
                            <li id="1022" class=""><a href="#"><i class="fa fa-file-pdf"></i> White Paper</a></li>
                            <li id="1023" class=""><a href="#"><i class="fa fa-chart-line"></i> Career</a></li>
                            <li id="1024" class=""><a href="#"><i class="fa fa-map"></i> Contact Us</a></li>
                          </ul>
                        </li>
      
                        <li id="103" class="dropdown"><a href="#">Our Services</a>
                          <ul class="dropdown-menu" style="">
                            <li id="1031" class=""><a href="#"><i class="fa fa-credit-credit"></i> Premium Membership</a></li>
                            <li id="1032" class=""><a href="#"><i class="fa fa-credit-credit"></i> Platinum Membership</a></li>
                            <li id="1032" class=""><a href="#"><i class="fa fa-credit-credit"></i> Finmax Plan</a></li>
                            <li id="1033" class=""><a href="#"><i class="fa fa-credit-credit"></i> Channel Partner</a></li>
                          </ul>
                        </li>
      
                        <li id="111" class=""><a href="#">Channel Partner</a></li>
      
                        <li id="109" class="dropdown"><a href="#">Apply Now</a>
                          <ul class="dropdown-menu" style="">
                            <li id="1091" class=""><a href="#"><i class="fa fa-rupee-sign"></i> Premium Membership</a></li>
                            <li id="1092" class=""><a href="#"><i class="fa fa-rupee-sign"></i> Platinum Membership</a></li>
                            <li id="1093" class=""><a href="#"><i class="fa fa-rupee-sign"></i> Finmax Plan</a></li>
                          </ul>
                        </li>
      
                        <li id="112" class="dropdown"><a href="#">Login</a>
                          <ul class="dropdown-menu menu-last" style="">
                            <li id="1121" class=""><a href="#"><i class="fa fa-users"></i> Customer Login</a></li>
                            <li id="1122" class=""><a href="#"><i class="fa fa-users"></i> Finmax Customer Login</a></li>
                            <li id="1123" class=""><a href="#"><i class="fa fa-users"></i> Channel Partner Login</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
      
              </div>
            </div>
          </header>
          <section class="p-t-130 p-b-100" id="page-title" data-bg-parallax="https://nowofloan.com/assets/images/slider/header-bg-104.jpg"><div class="parallax-container img-loaded" data-velocity="-.140" style="background: url(&quot;https://nowofloan.com/assets/images/slider/header-bg-104.jpg&quot;);"></div>
            <div class="container">
                <div class="page-title">
                    <h1>Raise a Request</h1>
                </div>
                <div class="breadcrumb">
                    <ul itemscope="">
                      <li itemprop="itemListElement" itemscope="" itemtype="#">
                        <a itemprop="item" href="#">
                        <span itemprop="name">Home</span></a>
                        <meta itemprop="position" content="1">
                      </li>
                      <li itemprop="itemListElement" itemscope="" itemtype="#">
                        <a itemprop="item" href="#">
                        <span itemprop="name">Support</span></a>
                        <meta itemprop="position" content="2">
                      </li>
                      <li itemprop="itemListElement" itemscope="" itemtype="#">
                        <a itemprop="item" href="#">
                        <span itemprop="name">Raise a request</span></a>
                        <meta itemprop="position" content="3">
                      </li>
                    </ul>
                </div>
            </div>
         </section>
         <section id="career">
            <div class="container">
        
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <h3>Common FAQs</h3>
                        <div class="accordion accordion-simple">
                            <div class="ac-item">
                                <h5 class="ac-title">My payment is done but the account is still not created. What should I do?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>This may happen when your amount is held with the payment gateway and yet to be received in the company's account. Do not worry, once the amount is credited to the company's account, your account will be created and you will be informed via mail. Else, the payment gateway will refund your amount to your account as per their rules and regulations.</p>
                                </div>
                            </div>
        
                            <div class="ac-item">
                                <h5 class="ac-title">My refund is yet to be received even after many days. What should I do?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>As your amount is on hold with the bank/payment gateway, it will be refunded as per the bank's/payment gateway's rules and regulations.</p>
                                </div>
                            </div>
        
                            <div class="ac-item">
                                <h5 class="ac-title">I misunderstood the company's services/did payment by mistake. Can I get a refund?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>The payment of Membership fees is refundable only in accordance with the company's Cancellation &amp; Refund Policy: <a href="https://nowofloan.com/refund-policy" target="_blank">Click here</a></p>
                                </div>
                            </div>
        
                            <div class="ac-item">
                                <h5 class="ac-title">I was shown Pre-Approved Loan Offers as per my Eligibility but I didn't get any actual loan. Why is this so?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>To gain the exact understanding of what the Pre-Approved Loan Offer/Eligibility is, kindly watch the explanatory video – link: <a href="https://www.youtube.com/watch?v=yX6WpAqHv6s" target="_blank">https://www.youtube.com/watch?v=yX6WpAqHv6s</a></p>
                                </div>
                            </div>
        
                            <div class="ac-item">
                                <h5 class="ac-title">Who can get a GST Return?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>Be it Channel Partner or Customer, the person who has updated their GST information in their portal will get the GST Return.</p>
                                </div>
                            </div>
        
                            <div class="ac-item">
                                <h5 class="ac-title">I have changed my mind and I don't wish to avail company's services. Can I get a refund?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>The payment of Membership fees is refundable only in accordance with the company's Cancellation &amp; Refund Policy: <a href="https://nowofloan.com/refund-policy" target="_blank">Click here</a></p>
                                </div>
                            </div>
        
                            <div class="ac-item">
                                <h5 class="ac-title">I am not satisfied with the company's services. What should I do?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>For this concern, you're requested to call the company on 9081545972 between 10 AM to 5 PM – Monday to Saturday (only business days) – and explain your issue.</p>
                                </div>
                            </div>
        
                            <div class="ac-item">
                                <h5 class="ac-title">Who can TDS return?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>TDS will be given only to the ones whose referral payout has been generated. If your TDS is deducted, you can contact your CA. If your TDS has been deducted and it's not showing, then you can contact the company's customer care number between 10 AM to 5 PM – Monday to Saturday (only business days).</p>
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="col-lg-6 col-md-6 col-12">
                        <form action="https://nowofloan.com/support/submitrequest" id="submitForm1" class="p-cb" novalidate="novalidate" method="post" accept-charset="utf-8">
                            
                            <div class="form-group btn-group-toggle" data-toggle="buttons">
                                <label class="text-dark" for="usertype">I am a,</label>
                                <div class="btn-group">
                                    <label class="btn btn-light active">
                                        <input type="radio" name="usertype" value="1" autocomplete="off" checked=""> Customer
                                    </label>
                                    <label class="btn btn-light">
                                        <input type="radio" name="usertype" value="2" autocomplete="off"> Channel Partner
                                    </label>
                                    <label class="btn btn-light">
                                        <input type="radio" name="usertype" value="3" autocomplete="off"> Guest User
                                    </label>
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label class="text-dark" for="fullname">Full name</label>
                                <input type="text" aria-required="true" name="fullname" id="fullname" class="form-control" placeholder="Registerd name" required="" data-validation-regex-regex="^[a-zA-z]+([\s][a-zA-Z]+)*$">
                                <div class="help-block font-small-3"></div>
                            </div>
        
                            <div class="form-group">
                                <label class="text-dark" for="mobile">Mobile no.</label>
                                <input type="text" aria-required="true" name="mobile" id="mobile" class="form-control" placeholder="Registerd mobile number" required="" minlength="10" maxlength="10" data-validation-regex-regex="^[6789]\d{9}$">
                                <div class="help-block font-small-3"></div>
                            </div>
        
                            <div class="form-group">
                                <label class="text-dark" for="emailid">Email id</label>
                                <input type="email" aria-required="true" name="emailid" class="form-control" placeholder="Registerd email id" required="">
                                <div class="help-block font-small-3"></div>
                            </div>
                    
                            <div class="form-group">
                                <label class="text-dark" for="cardnumber">Membership Number (Optional)</label>
                                <input type="text" name="cardnumber" id="cardnumber" class="form-control" placeholder="Registerd membership number" data-validation-regex-regex="[0-9]+">
                                <div class="help-block font-small-3"></div>
                            </div>
        
                            <div class="form-group">
                                <label class="text-dark" for="issuetype">Query Related To</label>
                                <select name="issuetype" aria-required="true" id="issuetype" class="form-control" required="">
                                    <option value="">Select Issue</option>
                                    <option value="Service Problem">Service Problem</option>
                                    <option value="Payment Issue">Payment Issue</option>
                                    <option value="Technical Problem">Technical Problem</option>
                                    <option value="Eligibility or Pre-Approval Query">Eligibility or Pre-Approval Query</option>
                                    <option value="GST Return Query">GST Return Query</option>
                                    <option value="Other">Other</option>
                                </select>
                                <div class="help-block font-small-3"></div>
                            </div>
        
                            <div class="form-group">
                                <label class="text-dark" for="message">Request Message</label>
                                <textarea aria-required="true" name="message" id="message" class="form-control" placeholder="Request message in minimum 50 characters" required="" minlength="50"></textarea>
                                <div class="help-block font-small-3"></div>
                            </div>
        
                            <div class="form-group m-b-0">
                                <button type="submit" id="form-submit1" class="btn btn-block btn-secondary">SUBMIT REQUEST</button>
                            </div>
        
                            <div class="p-t-20 text-info" id="responsemessage"></div>
                        </form>
                    </div>
                </div>
                
            </div>
        </section>
     
        <footer id="footer" class="inverted">
            <div class="footer-content">
                <div class="container">
                    <div class="row gap-y">
                        <div class="col-md-4 col-sm-12">
                            <img src="./assets/images/logo-light.png" alt="Nowof Loan" class="m-t-20 m-b-30"
                                style="max-width: 240px;">
            
                            <p class="m-b-20">Partnered with leading NBFCs, Nowofloan is India's #1 Financial
                                Consultation &amp;
                                Service Provider. Upon purchase of our membership, our customers get 1 year of financial
                                consultation
                                &amp; service – and many other exciting benefits.</p>
            
                            <p class="p-t-10"><a href="#" target="_blank" class="text-danger" rel="nofollow"><i
                                        class="fa fa-youtube"></i> Learn company information &amp; products</a></p>
                        </div>
            
                        <div class="col-md-5 col-sm-12">
                            <h5 class="text-uppercase m-b-15">Useful Links</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-info-circle m-r-5"></i> Company</a></li>
                                        <li><a href="#"><i class="fa fa-ticket m-r-5"></i> Raise a request <span
                                                    class="badge badge-success">NEW</span></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-file-pdf m-r-5"></i> White
                                                Paper</a></li>
                                        <li><a href="#"><i class="fa fa-user m-r-5"></i> Channel Partner</a></li>
                                        <li><a href="#"><i class="fa fa-calculator m-r-5"></i> Loan EMI Calculator</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-chart-line m-r-5"></i> Career</a></li>
                                        <li><a href="#"><i class="fa fa-exclamation-triangle m-r-5"></i> Important
                                                Update</a></li>
                                        <li><a href="#"><i class="fa fa-map m-r-5"></i> Contact Us</a></li>
                                        <li><a href="#"><i class="fa fa-question-circle m-r-5"></i> FAQs</a></li>
                                    </ul>
                                </div>
            
                                <div class="col-md-6">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-lock m-r-5"></i> Customer Login</a></li>
                                        <li><a href="#"><i class="fa fa-lock m-r-5"></i> Finmax Customer Login</a></li>
                                        <li><a href="#"><i class="fa fa-lock m-r-5"></i> Channel Partner Login</a></li>
                                        <li><a href="#"><i class="fa fa-shield m-r-5"></i> Privacy Policy</a></li>
                                        <li><a href="#"><i class="fa fa-shield m-r-5"></i> Cancellation &amp; Refund
                                                Policy</a></li>
                                        <li><a href="#"><i class="fa fa-shield m-r-5"></i> Disclaimer</a></li>
                                        <li><a href="#"><i class="fa fa-shield m-r-5"></i> Terms &amp; Conditions</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-3 col-sm-12">
                            <h5 class="text-uppercase m-b-15">Contact Us</h5>
                            <div>
                                <p><a href="#"><i class="fa fa-phone m-r-5"></i> +91-90815-45972</a></p>
                                <p><a href="#"><i class="fa fa-envelope m-r-5"></i> info@nowofloan.com</a></p>
                                <p><a href="#"><i class="fa fa-envelope m-r-5"></i> partner@nowofloan.com</a></p>
                                <p><i class="fa fa-gavel m-r-5"></i> CIN No.: U93090GJ2019PTC109257</p>
                                <p><i class="fa fa-map-marker m-r-5"></i> Registered Office: <br>130, Green Elina,
                                    1<sup>st</sup> Floor,
                                    Anand Mahal Road, Adajan, Surat, Gujarat, India - 395009</p>
                            </div>
            
                            <div class="social-icons social-icons-colored social-icons-rounded float-left">
                                <!-- <h6>Follow us:</h6> -->
                                <ul>
                                    <li class="social-google"><a href="#" target="_blank" rel="nofollow"><i
                                                class="fa fa-google"></i></a>
                                    </li>
            
                                    <li class="social-facebook"><a href="#" target="_blank" rel="nofollow"><i
                                                class="fa fa-facebook"></i></a></li>
            
                                    <li class="social-instagram"><a href="#" target="_blank" rel="nofollow"><i
                                                class="fa fa-instagram"></i></a></li>
            
                                    <li class="social-twitter"><a href="#" target="_blank" rel="nofollow"><i
                                                class="fa fa-twitter"></i></a></li>
            
                                    <li class="social-linkedin"><a href="#" target="_blank" rel="nofollow"><i
                                                class="fa fa-linkedin"></i></a></li>
            
                                    <li class="social-pinterest"><a href="#" target="_blank" rel="nofollow"><i
                                                class="fa fa-pinterest"></i></a></li>
            
                                    <li class="social-youtube"><a href="#" target="_blank" rel="nofollow"><i
                                                class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="copyright-content background-bright-grey">
                <div class="container">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="copyright-text text-light">2022 © Nowofln Service India Pvt. Ltd. All rights
                                reserved.</div>
                        </div>
                        <div class="col-lg-4 text-right">
                            <p class="text-light m-b-0 small">Secure Payment Modes:</p>
                            <img src="./assets/images/payment-methods.png" alt="Payment method" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            </footer>
    </div>
    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/functions.js"></script>
</body>